<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="flex">
            <div class="footerMenu">
                <h2>SHOP</h2>
                <ul class="menu">
                    <th:block th:replace="/fragments/menuFragment :: menuLinks"/>
                </ul>
            </div>
            <div>
                <h2>OPENING HOURS:</h2>
                <p>
                    Mon - Fri: 7am - 10pm <br>​​
                    Saturday: 8am - 10pm <br>
                    Sunday: 8am - 11pm
                </p>
            </div>
            <div>
                <h2>ADDRESS</h2>
                <P>
                    Lorem ipsum dolor sit amet. <br>
                    Lorem ipsum dolor sit. <br>
                    Lorem ipsum.
                </P>
            </div>

            <div class="getItFresh">
                <h2>GET IT FRESH</h2>
                <form action="#">
                    <input type="text" placeholder="Email Address">
                    <button type="submit" id="subscribe">SUBSCRIBE NOW</button>
                </form>
            </div>
        </div>
        <div class="copy">
            <p>Jorge De Soto | AD - SBA - HTML/CSS/JavaScript | This site is for learning purpose only</p>
        </div>

    </footer>
</th:block>
</body>
</html>