<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="menuLinks">
    <li>
        <a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"
                href="/">
            Home
        </a>
    </li>
    <li>
        <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/shop') ? 'active':''}"
           href="/shop">
            Shop
        </a>
    </li>
    <li>
        <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/subscription') ? 'active':''}"
           href="/subscription">
            Subscription
        </a>
    </li>
    <li>
        <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/login') ? 'active':''}"
           href="/login">
            Login
        </a>
    </li>
<!--    <p th:text="${isLogin}"></p>-->
<!--    <th:block th:if="${isLogin}">-->
        <li>
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/cookies') ? 'active':''}"
               href="/cookies">
                Cookies
            </a>
        </li>
    <li>
        <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/addCookie') ? 'active':''}"
           href="/addCookie">
            Add Cookies
        </a>
    </li>
<!--    </th:block>-->
</th:block>
</body>
</html>