<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <th:block th:replace="/fragments/headFragments :: styles"/>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/jdsL.png" alt="JDS Logo">
    </div>
    <nav>
        <ul class="menu">
            <th:block th:replace="/fragments/menuFragment :: menuLinks(isLogin=${isLogin})"/>

        </ul>
    </nav>
</header>
<main>
    <section>

        <div class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="o-item"
                 style="background-image:url('/img/f61af8_3efc4110eb6c4037a2b3eea83e07e793_mv2_d_2701_1591_s_2.webp') ;">
                <div class="bannerText">
                    <h2>100% NATURAL. <br>
                        <span>HOMEMADE <br>
          FRESH COOKIES. </span>
                    </h2>
                    <button class="shopCookies" type="submit">Shop Cookies</button>
                </div>
            </div>
            <div class="o-item"
                 style="background-image:url('/img/f61af8_817eb9220c8d44b1b64f653d065084f9_mv2_d_2540_1400_s_2.webp') ;">
                <div class="bannerText">
                    <h2>100% NATURAL. <br>
                        <span>HOMEMADE <br>
            FRESH COOKIES. </span>
                    </h2>
                    <button class="shopCookies" type="submit">Shop Cookies</button>
                </div>
            </div>
            <div class="o-item"
                 style="background-image:url('/img/f61af8_c8c41a32bb184101817e356580044a1f_mv2_d_2540_1400_s_2.webp') ;">
                <div class="bannerText">
                    <h2>100% NATURAL. <br>
                        <span>HOMEMADE <br>
            FRESH COOKIES. </span>
                    </h2>
                    <button class="shopCookies" type="submit">Shop Cookies</button>
                </div>
            </div>
        </div>
    </section>
    <section class="bestSellersSection">
        <h2>BEST SELLERS</h2>
        <div id="bestSellers">
            <th:block th:each="cookie : ${cookies}">
                <th:block th:replace="/fragments/productsContainerFragment :: product(cookie = ${cookie})" />
            </th:block>
        </div>
        <a href="/shop" type="button" id="shop">MORE COOKIES</a>
    </section>
    <section>
        <h2>FOLLOW ME FOR MORE BITES</h2>
        <div id="moreBites">

        </div>
    </section>
</main>
<th:block th:replace="/fragments/footerFragment :: footer"/>
<th:block th:replace="/fragments/scriptFragments :: footerScripts"/>
<!-- the jquery is just for the banner -->
<th:block th:replace="/fragments/scriptFragments :: owlScripts"/>
<script type="module" src="/js/index.js"></script>
<script>
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
        items:1,
        dots:false,
        loop:true,
        autoplay:true,
        autoplayTimeout:3000
      });
    });

</script>
</body>
</html>