<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Cookies</title>
    <th:block th:replace="/fragments/headFragments :: styles"/>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/jdsL.png" alt="JDS Logo">
    </div>
    <nav>
    <ul class="menu">
            <th:block th:replace="/fragments/menuFragment :: menuLinks"/>
        </ul>
    </nav>
</header>
<main class="shop">
    <section>

        <div id="bestSellers">
            <div class="item">
                <div class="imgCont">
                    <th:block th:each="img:${cookie.cookieImages}">
                        <img th:if="${img.bite}" th:src="'/img/'+${img.name}" th:alt="${cookie.name}">

                    </th:block>
                </div>
                <div class="formCont">
                    <h2 th:text="${cookie.name} ">Name</h2>
                    <h3>sku: 000<span th:text="${cookie.id}" id="sku">${product.SKU}</span></h3>
                    <p th:text="'\$'+${cookie.price}">${product.price}</p>
                    <p>Quantity</p>
                    <form action="#">
                        <select name="quantity" id="quantity">
                            <th:block th:each="i:${#numbers.sequence(1,cookie.quantity)}">
                                <option th:text="${i}" th:value="${i}">0</option>
                            </th:block>
                            ${selectOptions}
                        </select>
                        <br>
                        <button type="submit" id="addToCart">ADD TO CART</button>
                    </form>
                    <p>Description</p>
                    <p th:text="${cookie.detail}">
                        ${product.detail}
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="/fragments/footerFragment :: footer"/>
<th:block th:replace="/fragments/scriptFragments :: footerScripts"/>
<!--  <script type="module" src="/js/item.js"></script>-->
</body>
</html>